<div class="container" style="margin-top: 13%;">
    <div class="card">
        Welcome admin !
        <hr>
        <marquee style="color: red;"> Latest news </marquee>
        <h4> Products arriving </h4>
        <ol>
            <li> Samsung galaxy tab</li>
            <li> Acer nitro laptop</li>
            <li> Lenovo Desktops </li>
            <li> iPhone charger</li>
        </ol>
        <hr>
        <marquee style="color: red;"> Latest offers </marquee>
        <h4> Offers for customers </h4>
        <ol>
            <li> HDFC 10% off</li>
            <li> SBI Credit card offers</li>
            <li> ICICI Debit card 10% off</li>
        </ol>
    </div>
</div>
